* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.body_content h1 {
    padding-left: 19%;
}

header {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    background: #c45eff;
    user-select: none;
    display: flex;
}

.side-menu nav img {
    height: 33px;
    width: 30px;
}

#icon_announce img {
    height: 50%;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.side-menu nav {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    overflow-y: hidden;
    background-color: blueviolet;
}

.side-menu nav ul li {
    line-height: 3em;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 19px;
}

.side-menu nav ul li a {
    display: block;
    padding-left: 2em;
    color: white;
    text-decoration: none;
}

.side-menu nav i {
    color: white;
}

.logout li {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-top: 16em;
    font-size: 19px;
}

.logout a {
    color: white;
    padding-left: 2em;
    text-decoration: none;
}

.side-menu nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style: none;
}

.side-menu nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.side-menu nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.side-menu nav ul li.active a {
    color: rgb(244, 244, 244);
    background: rgb(107, 15, 193);
    border-left-color: rgb(255, 255, 255);
}

.side-menu nav ul ul {
    position: static;
    display: none;
}

.side-menu nav ul .sched-show.show {
    display: block;
}

.side-menu nav ul .acct-show.show1 {
    display: block;
}

.side-menu nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

.side-menu nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 35px;
}

.side-menu nav ul li.active ul li a {
    color: #e6e6e6;
    background: rgb(107, 15, 193);
    border-left-color: transparent;
}

.side-menu nav ul ul li a:hover {
    color: rgb(177, 167, 221)!important;
    background: rgb(107, 15, 193)!important;
}

.side-menu nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

.side-menu nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}


/*TEXT FORMAT*/

h1 {
    padding-top: 0.5em;
    font-weight: bolder;
    color: blueviolet;
}

#title {
    font-size: 23px;
}


/* MAIN CONTENT*/


/* patient info */

.container {
    display: flex;
    margin: auto;
    padding-top: 1em;
    width: 80%;
    margin-left: 18%;
}

.patient-info {
    border: 2px solid #8d1ecd;
    width: 33%;
    height: 650px;
    color: black;
    text-align: center;
}

.patient-info img {
    height: 140px;
    width: 137px;
    margin-top: 3rem;
}


/* end of patient info */

.navbar {
    margin-left: 15px;
    width: 75%;
    border: 2px solid #8d1ecd;
    display: table;
}

.topnav {
    display: table-row;
}

.topnav {
    position: absolute;
    top: 0;
    background-color: blueviolet;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    background-color: blueviolet;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14.6px;
    text-decoration: none;
    font-size: 14px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: white;
    color: blueviolet;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: white;
    color: blueviolet;
}


/*prescription  tab */

.prescription {
    margin-top: 3%;
}


/*prescription  title */

.presc-header {
    width: 250px;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.presc-header h2 {
    font-weight: bolder;
}


/* add prescription button */

.presc-button {
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border-style: none;
    background-color: #69149b;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.addpresc-btn,
.presc-header {
    display: inline-flex;
}

.modal-body input,
.modal-body textarea {
    border-color: blueviolet;
}

#add-btn {
    background-color: blueviolet;
    color: white;
}


/* end of prescription tab */


/*container */

.presc-cont {
    height: 530px;
    overflow: scroll;
}


/* for the prescription boxes */

.presc-body {
    border: 2px solid rgba(0, 0, 0, 0.359);
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 55px;
    margin-right: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


/* prescription date */

.col1 h5 {
    color: rgb(86, 8, 158);
    font-weight: 600;
    margin-top: 10px;
    margin-left: 25px;
}

.col1 {
    width: 500px;
}

.no-presc {
    text-align: center;
    margin-top: 25%;
}


/*action buttons */

.actions {
    margin-top: 5px;
}


/*for viewing prescription details (modal)*/

#viewpresc-img {
    width: 100%;
}

.modal-header h5 {
    font-weight: bolder;
}

.ptr img {
    max-width: 900px;
    max-height: 600px;
}

#presc-body {
    text-align: center;
}